@font-face {
    font-family: 'Archivo';
    src: url('./assets/Archivo.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 60%, rgba(208,208,208,1) 100%);
    font-family: 'Archivo';
    margin: 0;
}

/* ----- Navbar ----- */

.navbar {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    border-bottom: 8px solid rgb(255, 255, 123);
}

.navbar h1 {
    color: white;
    font-size: 1.5rem;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    list-style: none;
    margin: 0 2rem 0 2rem;
}

/* ----- About Me ----- */

.aboutMe {
    margin-top: 3rem;
    margin-left: auto; margin-right: auto;
    display: flex;
}

.aboutMe h1 {
    font-size: 3rem;
    margin: 0rem 0 1rem 0;
    padding: 1rem 1rem 1rem 2rem;
    background-color: black;
    color: white;
}

.aboutMe h2 {
    font-size: 2rem;
    color: rgb(68, 68, 68);
}

.aboutMe h3 {
    font-size: 1.5rem;
    color: rgb(117, 117, 117);
}

.aboutMeImg {
    width: 35%;
    display: block;
    padding-left: 2rem;
    text-align: center;
}

.aboutMeText {
    width: 55%;
    display: block;
    padding: 0 1rem 0 2rem;
}

.headshot {
    max-width: 100%;
    max-height: 100%;
    border: 5px solid black;
    box-shadow: -6px 8px black;
    object-fit: cover;
}

/* ----- Skills ----- */

.skills {
    border-top: 8px solid rgb(255, 255, 123);
    margin-top: 4rem;
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 1.5rem;
}

.skills img {
    height: 4rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

#arrows {
    height: 2rem;
    display: block;
    margin-top: 1.5rem;
    margin-left: auto; margin-right: auto;
}

/* ----- Projects ----- */

.projects {
    text-align: center;
    margin: 0;
    padding: 0;
}

.projects h1 {
    font-size: 3rem;
    padding: 1rem 1rem 1rem 2rem;
    margin: 0;
    background-color: black;
    color: white;
}

.projects h2 {
    font-size: 2.5rem;
    color: rgb(68, 68, 68);
}

.projects h3 {
    margin: 1rem 2rem 1rem 2rem;
    color: white;
}

.projects img {
    width: 100%;
}

.project {
    box-sizing: border-box;
    background-color: black;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    width: 60%;
    border: 5px solid black;
}

.project h2 {
    display: inline;
    font-size: 1.8rem;
}

.project a {
    color: rgb(255, 255, 123);
    font-size: 1.8rem;
    font-weight: bolder;
    text-decoration: none;
    border-bottom: 3px solid rgb(255, 255, 123);
}

.project a:hover {
    color: rgb(255, 255, 219);
    border-bottom: 3px solid rgb(255, 255, 219);
}

.slick-prev::before, .slick-next::before {
    display: none;
}

#nextArrow, #prevArrow {
    background-color: rgb(0, 0, 0);
    display: flex;
    height: 2.8rem;
}

#nextArrow {
    margin: -2px;
    padding: 0 2px 0 0;
}

#prevArrow {
    margin: -2px;
    padding: 0 0 0 2px;
}

#nextArrow h2, #prevArrow h2 {
    color: white;
    font-size: 28px;
    margin: 0;
    margin: auto;
}

#nextArrow:hover, #prevArrow:hover {
    background-color: rgb(255, 255, 123);
    h2 {
        color: black;
    }
}

/* ----- Contact ----- */

.contact {
    text-align: center;
    background-color: black;
    border-top: 8px solid rgb(255, 255, 123);
    padding: 0 0 2rem 0;
}

.contact h1 {
    color: white;
    font-size: 3rem;
}

.contact img {
    height: 4rem;
    padding: 0 1rem 0 1rem;
}

/* ----- RESPONSIVE STUFF ----- */

@media screen and (max-width: 1024px) {
    .aboutMe h1 {
        font-size: 2rem;
    }

    .aboutMe h2 {
        font-size: 1.5rem;
    }

    .aboutMe h3 {
        font-size: 1.3rem;
    }

    .aboutMeText {
        padding-left: 3rem;
    }

    .project {
        width: 90%;
    }

    .skills img {
        height: 3.5rem;
    }
}

@media screen and (max-width: 768px) {
    .navbar h1 {
        font-size: 1rem;
    }

    .aboutMe {
        display: block;
        margin: 0;
        padding: 2rem;
    }

    .aboutMeImg {
        width: 100%;
        padding: 0 0 2rem 0;
    }

    .headshot {
        max-width: 60%;
        max-height: 60%;
    }

    .aboutMeText {
        width: 100%;
        padding: 0;
    }

    .skills {
        margin: 0;
    }

    .project {
        width: 100%;
    }

    #nextArrow, #prevArrow {
        display: none;
    }

    .contact img {
        height: 3rem;
    }

    .contact h1 {
        color: white;
        font-size: 2rem;
    }
}

@media screen and (max-width: 425px) {
    .navbar h1 {
        font-size: 0.7rem;
    }

    .aboutMe {
        padding: 1rem;
    }

    .aboutMe h1 {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    .aboutMe h2 {
        font-size: 1.3rem;
    }

    .aboutMe h3 {
        font-size: 1rem;
    }

    .skills img {
        height: 3rem;
    }

    .projects h1 {
        font-size: 2.5rem;
    }

    .projects h2 {
        font-size: 2rem;
    }

    .projects h3 {
        font-size: 1rem;
    }

    .project a {
        font-size: 1rem;
        border-bottom: 2px solid rgb(255, 255, 123);
    }

    .project h2 {
        font-size: 1rem;
    }

    .contact img {
        height: 2rem;
    }

    .contact h1 {
        color: white;
        font-size: 1.5rem;
    }
}